_minted*
*.log
*.aux
*.out
*.synctex.gz
*.toc
*.nav
*.snm
.idea
.ipynb_checkpoints
NLP/NLP大作业/dataset/test/Sports_and_Outdoors_5.json
NLP/NLP大作业/dataset/test/Cell_Phones_and_Accessories_5.json
NLP/NLP大作业/dataset/yf_amazon/ratings.csv
model
